*{
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.caja{
    display: flex;
    flex-direction: row;
}

.menu{
    width: 18%;
    height: 958px;
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
}

.navegador{
    margin-top: 20px;
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.navegador:hover{
    background-color: blue;
}

.main{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
}

.centrado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.altura-6cp{
    height: 6%;
}

.altura-10cp{
    height: 10%;
}

.altura-13cp{
    height: 13%;
}

.margin-top-10px{
    margin: 10px 0px;
}

.margin-left-5cp{
    margin-left: 5%;
}

.margin-top-40px{
    margin-top: 40px;
}

/* Index */
.caja_crear{
    background-color: white;
    width: 90%;
    height: 100px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.boton_crear{
    background-color: cornflowerblue;
    color: white;
    width: 15%;
    height: 30px;
    border-style: none;
    border-radius: 5px;
}

.boton_crear:hover{
    background-color: blue;
    cursor: pointer;
}

.archivo{
    display: flex;
    justify-content: right;
    width: 100%;
}

.input_archivo{
    width: 15%;
    height: 30px;
    border-color: rgb(167, 163, 163);
    border-radius: 5px;
    margin-right: 10px;
    font-size: 10px;
}

.subir_archivo{
    background-color: cornflowerblue;
    color: white;
    width: 10%;
    height: 30px;
    border-style: none;
    border-radius: 5px;
}

.subir_archivo:hover{
    background-color: blue;
    cursor: pointer;
}

/* Crear-tareas */

.crear_tarea{
    background-color: white;
    width: 30%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.formulario_tarea{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.boton_tarea{
    background-color: cornflowerblue;
    color: white;
    width: 30%;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    margin-top: 20px;   
}

/* Categoria */

.crear_categoria{
    background-color: white;
    width: 30%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.formulario_categoria{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.boton_categoria{
    background-color: cornflowerblue;
    color: white;
    width: 30%;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    margin-top: 10px; 
}

.categorias{
    background-color: white;
    width: 30%;
    height: 50px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}